.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# Database
/data/
local.db

# Backups
/tmp/

# Temp/import data files
getcoding-list.csv

# Package manager
pnpm-lock.yaml

convex-app
video
